<div class="row">
    <div class="col text-center">
        <button (click)=startGame()>Start New</button>
        
        <button (click)=changePlayer() [disabled]="!gameStarted">Next Player</button>
        <div>Round {{roundNb}} | Tour {{currentPlayer}}</div>
    </div>
</div>
<hr/>
<div class="card-deck mb-2">
    <div class="card mb-4 bg-transparent border-primary">
        <div class="card-header bg-transparent text-primar border-primary">
            Space Marine {{commandPoint}} <button (click)=calculateCP() [hidden]="currentPlayer != 'Space Marine'">!</button>
        </div>
        <div class="card-body bg-transparent border-primary">
            <app-exploration-manager></app-exploration-manager>
        </div>
    </div>
    <div class="card mb-4 bg-transparent border-primary">
        <div class="card-header bg-transparent border-primary">
            Genestealers {{blips}}
        </div>
        <div class="card-body bg-transparent border-primary">
            <app-events-manager #eventManager></app-events-manager>
        </div>
    </div>
</div>


