/* Add application styles & imports to this file! */

body, html {
  background-color: #000000 !important;
  height: 100% !important;
}

div.container {
  background: black;
  background-image: linear-gradient(rgba(0,0,0,.80), rgba(0,0,0,.80)), url("https://github.com/vincentcombet/angular-spaceh/blob/master/src/assets/img/background.jpg?raw=true" );
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  height: 100%;
  font-size: 2em;
  /*margin-right: 0;
  margin-left: 0;*/
}

button {
  background-color: #0086CC;
  color: #ffffff;
  border: 1px solid #FFFFFF
}

button:active {
  background-color: #ffffff;
  color: #0086CC;
  
}

button:disabled {
  background-color: grey;
}

h1 {
  color: #0086CC;
}

h3 {
  color: #0086CC;/*c6af59*/
}